[user]
	email = reaper@umich.edu
	name = Sean McMillan
[color]
	diff = always
	grep = auto
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	pager = less --quit-if-one-screen --ignore-case --LONG-PROMPT --quiet 
	eol = lf
	safecrlf = true
	autocrlf = input
	editor = vim
[log]
	date = local
[alias]
	tree = log --decorate --oneline --all --graph
	newsvn = log -p --reverse --ignore-all-space --patience master..git-svn
	newgit = log -p --reverse --ignore-all-space --patience master..origin/master
	ff = merge --ff-only
    noff = merge --no-ff
    fa = fetch --all
	ffm = fetch . origin/main:main
	ffr = fetch . origin/release:release
[push]
	default = current
[winUpdater]
	recentlySeenVersion = 2.25.0.windows.1
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gui]
	recentrepo = C:/Users/Sean/Documents/Projects/potbelly-web-app
